<div class="page-header">
<div class="container">
  <div class="jumbotron">
    <h1><%= @dietitian.name %></h1> 
  </div>
</div>
</div>


<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

      <dt>Image</dt>
      <dd>
        <img src="<%= @dietitian.image %>">

      </dd>
      
      <dt>Email</dt>
      <dd><%= @dietitian.email %></dd>

      <dt>Country</dt>
      <dd><%= @dietitian.country %></dd>

      <dt>Years of Experience</dt>
      <dd><%= @dietitian.years_of_experience %></dd>

      <dt>Areas of Expertise</dt>
      <dd><%= @dietitian.areas_of_expertise %></dd>

      <dt>Rate</dt>
      <dd>
       <% if @dietitian.rate != nil %>
        <% @i = 0 %>
        <% while @i < (@dietitian.rate%10)  do %>
          <img src="http://localhost:3000/assets/star.jpg" height="25" width="25">
          <% @i +=1 %>
        <% end %>
       <% else %>
       Has not been rated yet
       <% end %>
     </dd>

   </dl>

   <br>

   <% if current_client.present? %>
   <div class="well">
    <h4> Rate this dietitian   
      <a href="/diet/rate/<%= @dietitian.id %>/1"><img src="http://localhost:3000/assets/graystar.PNG" height="25" width="25"></a>
      <a href="/diet/rate/<%= @dietitian.id %>/2"><img src="http://localhost:3000/assets/graystar.PNG" height="25" width="25"></a>
      <a href="/diet/rate/<%= @dietitian.id %>/3"><img src="http://localhost:3000/assets/graystar.PNG" height="25" width="25"></a>
      <a href="/diet/rate/<%= @dietitian.id %>/4"><img src="http://localhost:3000/assets/graystar.PNG" height="25" width="25"></a>
      <a href="/diet/rate/<%= @dietitian.id %>/5"><img src="http://localhost:3000/assets/graystar.PNG" height="25" width="25"></a>
    </h4>
  </div>
  <div class="well">
    <h4> If this dietitian is right for you? book your diet session with <%= @dietitian.email %> <a href="/diet/to_book/<%= @dietitian.id %>/<%= current_client.id %>" class="btn btn-success btn-sm"  rel="nofollow">
      Book 
    </a>
  </h4>
</div>
<% end %>

<% if current_dietitian == @dietitian %>
<div class="well">
  <h4> Edit My Details <a href="/diet/edit_dietitian/<%= @dietitian.id %>" class="btn btn-success btn-sm"  rel="nofollow">
    Edit 
  </a>
</h4>   
</div>
<div class="well">
  <h4> Manage My Sessions <a href="/my_sessions" class="btn btn-success btn-sm"  rel="nofollow">
    Manage 
  </a>
</h4>
</div>
<% end %>



</div>
</div>
