<br>
<br>

<div class="page-header">

  <h3>Dietitian: <%= @dietitian.email %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

      <dt>Image</dt>
      <dd>
        <img src="<%= @dietitian.image %>">
      </dd>
      
      <dt>Name</dt>
      <dd><%= @dietitian.name %></dd>

      <dt>Country</dt>
      <dd><%= @dietitian.country %></dd>

      <dt>Years of Experience</dt>
      <dd><%= @dietitian.years_of_experience %></dd>

      <dt>Areas of Expertise</dt>
      <dd><%= @dietitian.areas_of_expertise %></dd>

      <dt>Rate</dt>
      <dd>
      	  <%= @dietitian.rate %>
	      <% if @dietitian.rate != nil %>
		      <% @i = 0 %>
		      <% while @i < (@dietitian.rate%10)  do %>
		   			<img src="/assets/images/star.jpg">
		   			<% @i +=1 %>
			  <% end %>
		  <% end %>
	  </dd>

	 </dl>


      <% if current_client.present? %>
        <h3> Rate this dietitian </h3>
        <a href="/diet/rate/<%= @dietitian.id %>/1"><img src="graystar.PNG"></a>
        <a href="/diet/rate/<%= @dietitian.id %>/2"><img src="graystar.PNG"></a>
        <a href="/diet/rate/<%= @dietitian.id %>/3"><img src="graystar.PNG"></a>
        <a href="/diet/rate/<%= @dietitian.id %>/4"><img src="graystar.PNG"></a>
        <a href="/diet/rate/<%= @dietitian.id %>/5"><img src="graystar.PNG"></a>
      <% end %>

  </div>
</div>
