
<br>
<br>
<div class="page-header">
  <div class="container">
    <div class="jumbotron">
      <h1>My Sessions</h1> 
      <p>Check out your future diet sessions</p> 
    </div>
  </div>
</div>


<% if current_dietitian.present? %>

<div class="row">
  <div class="col-md-12">
   <table class="table table-striped table-hover">
    <tr>
      <th>When</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>

    <% @sessions.each do |session| %>
    <% if session.time > DateTime.now %>
    <tr>
      <td><%= session.time %></td>
      <td>
        <% if session.status == "opened"%>
        Available
        <% end %>
        <% if session.status == "booked"%>
        Booked with <%= session.client.username %>
        <% end %>
      </td>
      <td>
        <% if session.status == "opened"%>
          <a href="/delete_session/<%= session.id %>" class="btn btn-danger">Delete Session</a>
        <% end %>
        <% if session.status == "booked"%>
          <a href="/client/<%= session.client_id %>" class="btn btn-info">View Client</a>
        <% end %>
      </td>
    </tr>
    <% end %>
    <% end %>

  </table>


  <div class="well">
    <div class="panel-body">

      <form action="/sessions/new" method="post">
        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
        <!-- Label and input for caption -->
        <div class="form-group">
          <label for="caption" class="control-label">
            Date and Time
          </label>

          <input type="datetime-local" name="session_time" min="<%= DateTime.now %>" id="session_time">
        </div>

        <button class="btn btn-info">
          Add Session
        </button>
      </form>

    </div>
  </div>

</div>
</div>

<% end %>

<% if current_client.present? %>
<div class="row">
  <div class="col-md-12">
   <table class="table table-striped table-hover">
    <tr>
      <th>When</th>
      <th>Who is my dietitian?</th>
    </tr>

    <% @sessions.each do |session| %>
    <% if session.time > DateTime.now %>
    <tr>
      <td><%= session.time %></td>
      <td><a href="/diet/<%= session.dietitian.id %>"><%= session.dietitian.name %></a></td>
    </tr>
    <% end %>
    <% end %>

  </table>



  <div class="well">
    <div class="panel-body">
      Do you want to book a session? just pick one!
      <form action="/session/clientbook/<%= current_client.id %>" method="post">
        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
        <!-- Label and input for caption -->
        <div class="form-group">
          <label for="Sessions" class="control-label">
            Session
          </label>

          <select name="session_id">
          <% @allsessions.each do |session| %>
            <% if session.status == "opened" &&  session.time > DateTime.now %>
              <option value="<%= session.id %>">
                At <%= session.time %> with <%= session.dietitian.name %>
              </option>
            <% end %>
          <% end %>
          </select>
        </div>

        <button class="btn btn-info">
          Book Session
        </button>
      </form>
    </div>
  </div>


</div>
</div>

<% end %>